<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/sam.css" />
    <title>{% block title %}sam{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="container">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <p>by clay jones and powered by MySQL & Flask & d3.js & matplotlib</p>
    </div>
</body>
</html>
